.container {
  padding: 0 2rem;
  text-align: center;
}

.welcome {
  white-space: pre-line;
  font-size : 10vmin;
  margin-bottom: 0px;
}

.detail {
  color: darkgrey;
  font-size: 2vmin;
  margin: 20px;
}

/* .activeButton {
  text-align: initial;
  position: absolute;
  top: 0;
  left: 15%;
}

.activeButton > p {
  margin-bottom: 0;
} */

.cityButton {
  text-align: center;
  /* position: absolute;
  top: 0;
  left: 50%;
  transform:translate(-50%); */
}

.button {
  color: hotpink;
  background-color: white;
  border-radius: 5px;
  border-color: hotpink;
  border-width:  .2vmin;
  font-size: 2vmin;
  /* padding: 8px 35px; */
  padding: 1.2vmin 6vmin;
  margin-right: 1.2vmin; 
  margin-bottom: 6vmin;
  border-style: solid;
}

@media (min-width: 1280px) {

}

@media (max-width: 799px) {
  .welcome {
    font-size: 56px;
  }
  .detail {
    font-size: 9.6px;
  }
  .earth-img {
    width: 160px;
  }
}
