.container{
  max-width: 2xl; 
  margin: 0 auto; 
  padding: 40px;
}

.title {
  font-size: 1.875rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

.currentContainer {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 35px;
}

.currentBox{
  padding: 1.5rem; /* p-6에 해당하는 값 (테마 또는 프레임워크에 따라 다를 수 있음) */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.leftBox {
  display: flex;
  align-items: center;
}

.currentRoundedContainer {
  width: 50px;
  height: 50px;
  border-radius: 9999px; /* 큰 값으로 설정하여 원 모양이 되도록 함 */
  background-color: #FFD6D6; /* 원의 배경색 */
  padding: 0.5rem; /* 내부 여백 */
  margin-right: 1rem; /* 우측 여백 */
}

.icon {
  width: 2rem; /* 아이콘 가로 크기 */
  height: 2rem; /* 아이콘 세로 크기 */
}

.currentRightBox{
  text-align: right;
}

.days {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: lightgray;
  margin-top: 0;
  margin-bottom: 0;
}

.accordion {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 25px;
}

.accordion summary {
  font-weight: bold;
  border-top: 1px solid lightgray;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  padding: 0 2rem ;
  list-style: none;
  order: 1; /* 글자랑 marker 순서 바꾸기 */
}

.accordion summary::-webkit-details-marker {
  display: none;
}

.accordion summary::before {
  content: ' \f078';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 0.5rem;
  color: rgb(243, 30, 65);
  order: 2; /* 글자랑 marker 순서 바꾸기 */
}

.accordion details[open] summary::before {
  content: ' \f077';
}

.eachTimeContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forecastRoundedContainer {
  width: 40px;
  height: 40px;
  border-radius: 9999px; /* 큰 값으로 설정하여 원 모양이 되도록 함 */
  background-color: #FFD6D6; /* 원의 배경색 */
  padding: 0.5rem; /* 내부 여백 */
  margin-right: 1.5rem; /* 우측 여백 */
}



/* 열림 아이템 */
/* .accordion details[open] summary {
  margin-bottom: .5em;
} */